@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";

  --color-base-100: #fdf7f1;
  --color-base-200: #f5ede5;
  --color-base-300: #ece2d9;
  --color-base-content: #1e1e1e;

  --color-primary: #f39b53;
  --color-primary-content: #ffffff;

  --color-secondary: #e9e3dc;
  --color-secondary-content: #1e1e1e;

  --color-accent: #b1d7f8;
  --color-accent-content: #1e1e1e;

  --color-neutral: #222222;
  --color-neutral-content: #ffffff;

  --color-info: #9ecdfc;
  --color-success: #86efac;
  --color-warning: #facc15;
  --color-error: #f87171;

  --radius-box: 1rem;
  --radius-selector: 0.75rem;
  --radius-field: 0.5rem;
  --depth: 0.5;
}

@plugin "daisyui/theme" {
  name: "dark";

  --color-base-100: #121212;
  --color-base-200: #1e1e1e;
  --color-base-300: #2c2c2c;
  --color-base-content: #e1e1e1;

  --color-primary: #ffb877;
  --color-primary-content: #000000;

  --color-secondary: #444444;
  --color-secondary-content: #ffffff;

  --color-accent: #82c7f3;
  --color-accent-content: #000000;

  --color-neutral: #eeeeee;
  --color-neutral-content: #1e1e1e;

  --color-info: #70b8f0;
  --color-success: #4ade80;
  --color-warning: #fbbf24;
  --color-error: #f87171;

  --radius-box: 1rem;
  --radius-selector: 0.75rem;
  --radius-field: 0.5rem;
  --depth: 0.5;
}

body {
  font-family: "Inter", sans-serif;
}

a.active {
  color: var(--color-primary);
}
